<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap" rel="stylesheet">

    <style>
        h1 {
            text-align: center;
            font-size: 60px;
            font-family: 'Raleway', sans-serif;
            color: #ff0000;
        }
    </style>

    <meta charset="UTF-8">
    <title>Logout Page</title>
</head>


<body>

<h1>LOGOUT SUCCESS</h1>

<p><a th:href="@{/}">
    <button class="button" style="vertical-align:middle"><span>Home</span></button>
</a></p>

</body>

</html>